.servicesSection
    width: 100%
    display: flex
    justify-content: center
    background: url('/servicesSection/qw-qw-gbt-b.png') center/cover fixed
    @media ( max-width: 1400px )
        background: url('/servicesSection/qw-qw-gbt-bV2.png') center/cover fixed
    @media ( max-width: 1030px )
        background: url('/servicesSection/qw-qw-gbt-bV3.png') center/cover no-repeat
    .servicesContainer
        @media ( max-width: 950px )
            width: 100%
        .servicesContent
            min-height: 10vh
            min-width: 1vw
            padding:  calc(15px + (35 - 15)*(100vw - 320px) / (1024 - 320))
            background: rgba(255, 255, 255, 0.743)
            h1
                font-size: calc(38px + (44 - 38)*(100vw - 1030px) / (2568 - 1030))
                margin-bottom:  calc(20px + (30 - 10)*(100vw - 320px) / (2568 - 320))
            .servicesCards
                display: grid
                grid-template-columns: repeat(3, calc(300px + (600 - 300)*(100vw - 950px) / (2568 - 950)))
                gap: calc(10px + (30 - 10)*(100vw - 320px) / (2568 - 320))
                @media ( max-width: 950px ) 
                    grid-template-columns: repeat(1, 1fr)
                .servicesCard
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: space-between
                    height: calc(300px + (400 - 300)*(100vw - 320px) / (2568 - 320))
                    padding: calc(15px + (20 - 15)*(100vw - 320px) / (2568 - 320))
                    border-radius: 10px
                    color: rgb(255, 255, 255)
                    .titleBlock
                        text-align: center
                        h4
                            margin-bottom: 3px
                            font-size: calc(24px + (26 - 24)*(100vw - 1030px) / (2568 - 1030))
                            @media ( max-width: 1030px ) 
                                font-size: 22px
                        .servicesCardTextWork  
                            font-size: calc(14px + (16 - 14)*(100vw - 1030px) / (2568 - 1030))
                            margin-bottom:  calc(8px + (10 - 8)*(100vw - 1030px) / (2568 - 1030))
                            @media ( max-width: 1030px ) 
                                font-size: 14px
                                margin-bottom:  calc(8px + (10 - 8)*(100vw - 1030px) / (2568 - 1030))
                    .tetxBlock
                        width: 100%
                        text-align: center
                        font-size: calc(14px + (18 - 14)*(100vw - 1030px) / (2568 - 1030))
                        p
                            margin-bottom: calc(5px + (10 - 5)*(100vw - 1030px) / (2568 - 1030))
                        @media ( max-width: 1030px ) 
                                font-size: 14px
                                margin-bottom: 5px
