.servicesSection
    .servicesContainer
        .servicesContent
            min-height: 40vh
            padding:  calc(15px + (30 - 15)*(100vw - 320px) / (1024 - 320))
            h1
            .servicesCards
                display: flex
                flex-wrap: wrap
                .servicesCard
                    display: flex
                    flex-direction: column
                    align-items: center
                    width:  calc(230px + (250 - 230)*(100vw - 800px) / (1024 - 800))
                    height: calc(150px + (200 - 150)*(100vw - 800px) / (1024 - 800))
                    margin: calc(10px + (10 - 5)*(100vw - 320px) / (1024 - 320)) auto
                    padding: 2% 0
                    border: 1px solid black
                    border-radius: 10px
                    @media (max-width: 800px)
                        width: calc(200px + (300 - 200)*(100vw - 450px) / (800 - 450))
                        height: calc(150px + (200 - 150)*(100vw - 450px) / (800 - 450))
                        border: 1px solid black
                    @media (max-width: 480px)
                        width: calc(220px + (350 - 220)*(100vw - 300px) / (450 - 300))
                        height: calc(250px + (200 - 250)*(100vw - 300px) / (450 - 300))
                        border: 1px solid red
                    .servicesCardImg
                        display: inline
                        background: url('/servicesSection/scott-blake-x-ghf9LjrVg-unsplash.webp') center/cover
                        width: 85%
                        height: calc(80px + (100 - 80)*(100vw - 320px) / (1024 - 320))
                        border-radius: 10px
                        margin-bottom: 10px
                    h4
                        margin-bottom: 3px
                        font-size: 20px
                    p  
                        font-size: 16px
                        margin-bottom: 20px
                    .servicesCardBottom
                        min-width:  40%
                        height:  20%
                        border-radius: 3px
                        background: rgb(255, 95, 30)
                        display: flex
                        align-items: center
                        padding: 0 10px
                        p
                            margin: 0
                            font-size: 16px
