.phone
    width: 100%
    min-height: 100vh
    .phoneContainer
        max-width: 100%
        .phoneSections
            // padding: calc(15px + (20 - 15)*(100vw - 320px) / (1024 - 320))
            background-color: rgb(238, 238, 238)
        



