.headerPhoneContainer
    position: relative
    background-color: rgb(255, 255, 255)
    .headerPhoneContent
        display: flex
        justify-content: space-around
        padding: calc(10px + (15 - 10)*(100vw - 320px) / (1024 - 320)) calc(70px + (80 - 70)*(100vw - 320px) / (1024 - 320)) calc(10px + (15 - 10)*(100vw - 320px) / (1024 - 320)) calc(10px + (15 - 10)*(100vw - 320px) / (1024 - 320))
        @media (max-width: 500px)
            justify-content: space-around
        .headerPhoneLogo, .headerPhoneEmail, .headerPhoneCall
            display: flex
            align-items: center
        .headerPhoneLogo
            flex-direction: column
            img
                width: calc(50px + (55 - 50)*(100vw - 320px) / (1024 - 320))
                height: auto
                margin-bottom: calc(2px + (2 - 2)*(100vw - 320px) / (1024 - 320))

            p
                color: rgb(255, 95, 30)
                font-size: calc(8px + (10 - 8)*(100vw - 320px) / (1024 - 320))
        .headerPhoneEmail
            .headerPhoneEmailImg
                font-size: 24px
                margin-right: calc(10px + (15 - 10)*(100vw - 320px) / (1024 - 320))
            p
                font-size: calc(14px + (16 - 14)*(100vw - 320px) / (1024 - 320))
            & p:first-child
                font-weight: bold
            @media (max-width: 500px)
                display: none
        .headerPhoneCall
            img
                margin-right: calc(10px + (15 - 10)*(100vw - 320px) / (1024 - 320))
            a
                font-size: calc(12px + (14 - 12)*(100vw - 320px) / (1024 - 320))
                font-weight: 500
                margin-bottom: calc(5px + (10 - 5)*(100vw - 320px) / (1024 - 320))
                color: rgb(51, 51, 51)
                &:last-child
                    margin: 0
            .headerPhoneCallText
                display: flex
                flex-direction: column
        .headerPhoneMasseges
            display: flex
            @media (max-width: 700px)
                display: none
            .bottomSocBox
                margin-right: 20px
                display: flex
                align-items: center
    